.tuner-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listening-bar {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
  margin-bottom: 15px;
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
