.note-circle {
  position: relative;
  width: 320px;
  height: 320px;
}

.note {
  position: absolute;
  width: 0px;
  text-align: center;
  font-weight: bold;
  user-select: none;
  transform-origin: center center;
}

.current-note {
  color: red;
}

.note-circle-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
