.tuner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
